<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodio:menu</title>
    
    <link rel="stylesheet" href="/stylesheets/menu.css">

</head>
<body>
    <div class="nav">
        <div id="nav1">
            <i class="ri-menu-3-line"></i>
            <!-- <img src="images/logo.png" alt=""> -->
        </div>
        <div id="nav2">
            <a href="/home"><h3>Home</h3></a>
            <a href="/menu"><h3>Menu</h3></a>
        <a href="/about"><h3>About</h3></a>
        <a href="/categories"><h3>categories</h3></a>
    </div>
    
</div>


    <div class="menu-container">
        <h1 id="heading">Your Inspiration For Today's Order </h1>
       <section >

           <div class="menu-grid">
               <div class="dish-card">
                   <img src="/images/biryani.jpg" alt="Chiken Biryani" class="dish-image">
                   <div class="dish-title">Chiken Biryani</div>
                   <div class="dish-description">Fresh chicken are marinated in a mixture of freshly ground BBK spices & layered with long grain basmati rice in the handi.</div>
                   <div class="dish-price">₹499</div>
                   <a href="/order" class="order-button">Order</a>
             
                   <button><i class="ri-shopping-bag-line"></i></button>
               </div>
               
               <div class="dish-card">
                   <img src="/images/rasmalai.jpg" alt="" class="dish-image">
                   <div class="dish-title">Rasmalai</div>
                   <div class="dish-description">A healthier version of the traditional Indian dessert Rasmalai, made without added sugar.</div>
                   <div class="dish-price">₹75</div>
                   <a href="/order" class="order-button">Order</a>
             
                   <button><i class="ri-shopping-bag-line"></i></button>
               </div>
               
               <div class="dish-card">
                   <img src="/images/chole kulche.jpg" alt="Dish 3" class="dish-image">
                   <div class="dish-title">Chole Kulche</div>
                   <div class="dish-description">A North Indian delight featuring spicy chickpea curry (chana) paired with soft, fluffy kulcha bread. A hearty and flavorful combination.</div>
                   <div class="dish-price">₹120(For extra kulcha ₹20)</div>
                   <a href="/order" class="order-button">Order</a>
             
                   <button><i class="ri-shopping-bag-line"></i></button>
               </div>
               
               <div class="dish-card">
                   <img src="/images/thali.jpg" alt="Dish 4" class="dish-image">
                   <div class="dish-title">Veg thali</div>
                   <div class="dish-description">A veg thali is a traditional Indian meal platter that includes a variety of vegetarian dishes offering a balanced and diverse selection of flavors and textures.</div>
                   <div class="dish-price">₹200</div>
                   <a href="/order" class="order-button">Order</a>
             
                   <button><i class="ri-shopping-bag-line"></i></button>
               </div>
           </div>
           <div id="gap">

               <div class="menu-grid">
                   <div class="dish-card">
                       <img src="/images/butter-chicken.jpg" alt="Dish 1" class="dish-image">
                       <div class="dish-title">Butter Chiken</div>
                <div class="dish-description">Butter chicken is prepared with marinated chicken that's first grilled and then served in a rich gravy made with tomato, butter, cream and a special spices.</div>
                <div class="dish-price">₹250</div>
                <a href="/order" class="order-button">Order</a>
             
                <button><i class="ri-shopping-bag-line"></i></button>
            </div>
            
            <div class="dish-card">
                <img src="/images/12.-Grilled-Paneer.jpg" alt="" class="dish-image">
                <div class="dish-title">Paneer Tikka</div>
                <div class="dish-description">Savor the tangy indulgence of our achari paneer tikka succulent paneer marinated with zesty pickling spices, tandoor grilled to perfection, delivering a burst of flavors.</div>
                <div class="dish-price">₹329</div>
                <a href="/order" class="order-button">Order</a>
             
                <button><i class="ri-shopping-bag-line"></i></button>
            </div>
            
            <div class="dish-card">
                <img src="/images/shahi panner.jpg" alt="Dish 3" class="dish-image">
                <div class="dish-title">Shahi Paneer</div>
                <div class="dish-description">A Shahi Paneer thali features the classic creamy Shahi Paneer curry made with paneer and an assortment of traditional Indian side dishes.</div>
                <div class="dish-price">₹299</div>
                <a href="/order" class="order-button">Order</a>
             
                <button><i class="ri-shopping-bag-line"></i></button>
            </div>
            
            <div class="dish-card">
                <img src="/images/mmalaikofta.jpg" alt="Dish 4" class="dish-image">
                <div class="dish-title">Malai Kofta</div>
                <div class="dish-description">A Malai Kofta thali features creamy paneer and vegetable dumplings in a rich tomato-cream sauce, served with rice, roti, dal, and other vegetarian sides.</div>
                <div class="dish-price">₹250</div>
                <a href="/order" class="order-button">Order</a>
             
                <button><i class="ri-shopping-bag-line"></i></button>
            </div>
        </div>
        </div>
       </section>
       <h1 id="heading">Would you like to have quick Snacks??</h1>
       <section >

        <div class="menu-grid">
            <div class="dish-card">
                <img src="/images/vadapav.jpg" alt="vadapav" class="dish-image">
                <div class="dish-title">Vadapav</div>
                <div class="dish-description">Vada Pav is a popular Indian street food from Mumbai, consisting of a spicy, deep-fried potato dumpling served in a soft bread roll, often accompanied by chutneys and green chili peppers.</div>
                <div class="dish-price">₹25</div>
             

                  <a href="/order" class="order-button">Order</a>
             
                <button><i class="ri-shopping-bag-line"></i></button>
            </div>
            
            <div class="dish-card">
                <img src="/images/pav bhaji.jpg" alt="" class="dish-image">
                <div class="dish-title">Paav Bhaji</div>
                <div class="dish-description">Pav Bhaji is a vibrant and spicy Indian street food dish from Mumbai, featuring a thick vegetable curry served with buttered bread rolls, often garnished with chopped onions and lime wedges.</div>
                <div class="dish-price">₹70</div>
                <a href="/order" class="order-button">Order</a>
             
                <button><i class="ri-shopping-bag-line"></i></button>
            </div>
            
            <div class="dish-card">
                <img src="/images/panipuri.jpg" alt="Dish 3" class="dish-image">
                <div class="dish-title">Pani Puri(Gol Gappe)</div>
                <div class="dish-description">Pani Puri, also known as Golgappa, is a popular Indian street food consisting of crispy, hollow shells filled with spicy tamarind water, mashed potatoes, and chickpeas, offering a burst of tangy and savory flavors.</div>
                <div class="dish-price">₹50(12 puries)</div>
                <a href="/order" class="order-button">Order</a>
             
                <button><i class="ri-shopping-bag-line"></i></button>
            </div>
            
            <div class="dish-card">
                <img src="/images/momos.jpg" alt="Dish 4" class="dish-image">
                <div class="dish-title">momos </div>
                <div class="dish-description">Momos are a popular street food from the Himalayan region, featuring steamed or fried dumplings filled with various savory fillings like chicken, vegetables, or paneer, typically served with a spicy dipping sauce.</div>
                <div class="dish-price">₹90</div>
                <a href="/order" class="order-button">Order</a>
             
                <button><i class="ri-shopping-bag-line"></i></button>
            </div>
        </div>
        <div id="gap">

            <div class="menu-grid">
                <div class="dish-card">
                    <img src="/images/burger.jpg" alt="Dish 1" class="dish-image">
                    <div class="dish-title">Burger</div>
             <div class="dish-description">A burger is a sandwich with a cooked patty, often potato or chicken, served in a bun with toppings like lettuce, tomato, and cheese.
             </div>
             <div class="dish-price">₹59</div>
             <a href="/order" class="order-button">Order</a>
             
             <button><i class="ri-shopping-bag-line"></i></button>
         </div>
         
         <div class="dish-card">
             <img src="/images/chinesssse.jpg" alt="" class="dish-image">
             <div class="dish-title">Hakka Noodles</div>
             <div class="dish-description">Hakka noodles are a popular Indo-Chinese dish made from stir-fried noodles, typically mixed with vegetables and meat, and flavored with soy sauce and other savory seasonings.
             </div>
             <div class="dish-price">₹110</div>
             <a href="/order" class="order-button">Order</a>
             
             <button><i class="ri-shopping-bag-line"></i></button>
         </div>
         
         <div class="dish-card">
             <img src="/images/pasta.jpg" alt="Dish 3" class="dish-image">
             <div class="dish-title">Pasta</div>
             <div class="dish-description">Pasta is a versatile Italian dish made from wheat flour and water, shaped into various forms like spaghetti, penne, or fusilli, and typically served with a variety of sauces and ingredients.
             </div>
             <div class="dish-price">₹70</div>
             <a href="/order" class="order-button">Order</a>
             
             <button><i class="ri-shopping-bag-line"></i></button>
         </div>
         
         <div class="dish-card">
             <img src="/images/pizza.jpg" alt="Dish 4" class="dish-image">
             <div class="dish-title">Margherita Pizza</div>
             <div class="dish-description">Margherita pizza is a classic Italian pizza topped with tomato sauce, fresh mozzarella cheese, and basil leaves, representing the colors of the Italian flag.</div>
             <div class="dish-price">₹250</div>
             <a href="/order" class="order-button">Order</a>
            
             <button><i class="ri-shopping-bag-line"></i></button>
         </div>
     </div>
     </div>
    </section>
    </div>
    <section>
        <footer>
            <div class="footer-container">
                <div class="footer-section about">
                    <h3>About Foodio</h3>
                    <p>Foodio delivers the best foods from your favorite local restaurants right to your door. Fast, fresh, and with a smile!</p>
                </div>
                <div class="footer-section links">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/about">Services</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-section contact-form">
                    <h3>Contact Us</h3>
                    <p>Have questions? Reach out to us directly through our easy-to-use contact form.</p>
                    <a href="/contact" class="footer-button">Contact Form</a>
                </div>
                <div class="footer-section social-media">
                    <h3>Follow Us</h3>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    
</section>
</body>

</html>